<main class="center" id="main">
    <!-- This is a semantic html change -->
    <section class="page-area">
        <pb-article>
            <header>
                <h2>Stay on track</h2>
            </header>
            <p>
                Do you know where you are spending your money? If you really stop to track it down,
                you would get surprised! Proper budget management depends on real data... and this
                app will help you with that!
            </p>
        </pb-article>

        <pb-article>
            <!-- This is a semantic html change -->
            <header>
                <!-- This is an A11y Change -->
                <h2>Alerts</h2>
            </header>
            <p>
                What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
            </p>
        </pb-article>

        <pb-article>
            <!-- This is a semantic html change -->
            <header>
                <!-- This is an A11y Change -->
                <h2>Results</h2>
            </header>
            <p>
                People who stick to a financial plan, budgeting every expense, get out of debt faster!
                Also, they to live happier lives... since they expend without guilt or fear...
                because they know it is all good and accounted for.
            </p>
        </pb-article>

        <pb-article>
            <!-- This is a semantic html change -->
            <header>
                <!-- This is an A11y Change -->
                <h2>Free</h2>
            </header>
            <p>
                This app is free!!! And you are the only one holding your data!
            </p>
        </pb-article>

        <pb-article>
            <!-- This is a semantic html change -->
            <header>
                <!-- This is an A11y Change -->
                <h2>Stay on track</h2>
            </header>
            <p>
                Do you know where you are spending your money? If you really stop to track it down,
                you would get surprised! Proper budget management depends on real data... and this
                app will help you with that!
            </p>
        </pb-article>

        <pb-article>
            <!-- This is a semantic html change -->
            <header>
                <!-- This is an A11y Change -->
                <h2>Alerts</h2>
            </header>
            <p>
                What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
            </p>
        </pb-article>

        <pb-article>
            <!-- This is a semantic html change -->
            <header>
                <!-- This is an A11y Change -->
                <h2>Results</h2>
            </header>
            <p>
                People who stick to a financial plan, budgeting every expense, get out of debt faster!
                Also, they to live happier lives... since they expend without guilt or fear...
                because they know it is all good and accounted for.
            </p>
        </pb-article>

        <pb-article>
            <!-- This is a semantic html change -->
            <header>
                <!-- This is an A11y Change -->
                <h1 tabindex="24">Pie Chart ®Tejal Koka</h1>
                <p tabindex="25">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </p>
            </header>
            
        </pb-article>

        <article class="text-box">
            <h1 tabindex="26">Donut Chart ®Tejal Koka  </h1>
            <p tabindex="27">
            <div id="d3DonutChart" style="width: 400px; height: 400px;"></div>
        </article>
    </section>

</main>